@{
    ViewData["Title"] = "Products";
}

<div class="container">
    <div class="row justify-content-between">
        <div class="col text-center pt-5">
            <h3 class="display-5 mb-4">New Product</h3>
        </div>
        <div class="col ms-3 border-left border-dark p-5">
            <h3 class="display-5">Existing Products</h3>
        </div>
    </div>
</div>